<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>studentDetails</servlet-name>
        <servlet-class>com.pondit.b4.controller.StudentDetails</servlet-class>
<!--        <servlet-name>createStudent</servlet-name>-->
<!--        <servlet-class>com.pondit.b4.controller.CreateStudent</servlet-class>-->
<!--        <servlet-name>helloServlet</servlet-name>-->
<!--        <servlet-class>com.pondit.b4.controller.HelloServlet</servlet-class>-->
    </servlet>

    <servlet-mapping>
        <servlet-name>studentDetails</servlet-name>
        <url-pattern>/</url-pattern>
<!--        <servlet-name>createStudent</servlet-name>-->
<!--        <url-pattern>/createStudent</url-pattern>-->
<!--        <servlet-name>helloServlet</servlet-name>-->
<!--        <url-pattern>/hello</url-pattern>-->
    </servlet-mapping>

</web-app>